<script
	type="module"
	src="@components/pages/product_gydrocycle/gydrocycle.js"
></script>
<link
	rel="stylesheet"
	href="@components/pages/product_gydrocycle/gydrocycle.scss"
/>

<main class="page page--gydrocycle">
	<div data-fls-breadcrumbs class="breadcrumbs">
		<div class="breadcrumbs__container">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="index.html" class="breadcrumbs__link">Главная</a>
				</li>
				<li class="breadcrumbs__item">
					<a href="catalog_gydro.html" class="breadcrumbs__link">Гидроциклы</a>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__link"
						>Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic</span
					>
				</li>
			</ul>
		</div>
	</div>
</main>
