@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("C://programming/online_store/src/assets/svgicons/preview/iconfont.woff2?38f8207bb1d7045b1649340122cf7d67") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-search"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-s-yt"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-s-vk"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-s-inst"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-s-fb"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-person"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-percent"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-next"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-line"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-home"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-heart"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-grid"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-geo"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-cart"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-box"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-blue-heart"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f111"; 
	} 
