//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn
.button {
	display: inline-flex;
	padding: 16px 40px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.12em;
	border-radius: 3px;
	transition: background-color 0.3s, color 0.3s;
	@media (any-hover: hover) {
		&:hover {
			color: #fff;
			background-color: #000;
		}
	}
	&--fw {
		width: 100%;
	}
	&--blue {
		color: #fff;
		background-color: $blueColor;

		@media (any-hover: hover) {
			&:hover {
				background-color: #fff;
				color: $blueColor;
			}
		}
	}
	&--mobile {
		padding: 0;
		&::before {
			font-size: 24px;
		}
		@media (any-hover: hover) {
			&:hover {
				color: inherit;
				background-color: inherit;
			}
		}
	}
}
