.product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: box-shadow 0.3s;
	@media (max-width: toEm($mobile)) {
		// min-height: 370px;
	}
	&,
	&--sale {
		.popular__slide & {
		}
		@media (any-hover: hover) {
			&:hover {
				border: none;
				box-shadow: 3px 3px 20px 0 rgba(50, 50, 50, 0.25);
				.product__text,
				.product__price {
					color: $blueColor;
				}
				.product__button {
					opacity: 0.9;
					@media (any-hover: hover) {
						&:hover {
							opacity: 1;
						}
					}
				}
			}
		}
		&__text,
		&__price {
			transition: color 0.3s;
		}
	}
	&--out-stock {
		@media (any-hover: hover) {
			&:hover {
				.product__text,
				.product__price {
					color: inherit;
				}
				&__button {
					display: none;
				}
			}
		}
		&__text,
		&__price {
			transition: none;
		}
	}

	// .product__card
	position: relative;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	max-width: 280px;

	&__card {
		padding: 50px 35px 0 35px;
	}
	&__sale {
		display: none;
		line-height: 24px;
	}

	// .product__favorite

	&__favorite {
		top: 16px;
		right: 19px;
		font-size: 23px;
		position: absolute;
		&--active {
			&::before {
				font-family: iconfont;
				content: '\f110';
				color: $blueColor;
			}
		}
	}

	// .product__img
	&__button {
		transition: opacity 0.3s;
		opacity: 0;
		display: block;
		left: 50%;
		top: 30%;
		min-width: 230px;
		padding: 18px 22px;
		text-align: center;
		translate: -50% 0;
		position: absolute;
		background-color: #fff;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	}
	&__img {
		margin-bottom: 14px;
	}

	// .product__text

	&__text {
		font-size: 18px;
		text-align: center;
		margin-bottom: 25px;
	}

	// .product__price

	&__price {
		font-family: $fontBarlow;
		font-weight: 700;
		font-size: 30px;
		text-align: center;
		margin-bottom: 50px;
	}

	// .product__cart

	&__cart {
		color: #fff;
		position: absolute;
		right: 0;
		bottom: 0;
		border-top-left-radius: 10px;
		padding: 10px 15px;
		background-color: $blueColor;
		font-size: 30px;
	}
	&--sale {
		.product__sale {
			display: block;
			padding: 4px 15px;
			color: #fff;
			background-color: $blueColor;
			position: absolute;
			text-transform: uppercase;
			left: 0;
			top: 0;
			font-size: 12px;
			letter-spacing: 0.07em;
		}
	}

	&__out-stock {
		display: none;
	}
	&--out-stock {
		.product__cart {
			display: none;
		}
		.product__out-stock {
			display: flex;
			font-size: 16px;
			text-decoration: underline;
			color: $blueColor;
			justify-content: center;
			margin-bottom: 25px;
		}
		.product__price {
			font-weight: 700;
			font-size: 18px;
			text-align: center;
			font-family: $fontFamily;
			margin-bottom: 13px;
		}
		.product__text {
			margin-bottom: 7px;
		}
	}
}
