<header data-fls-header class="header">
	<div class="header__container">
		<div class="header__top">
				<include
					src="@components/layout/menu/menu.html"
					locals='{"active": "[[active]]",}'
				></include>
				<a class="logo" href="#">
					<div class="">
						<img class="logo__img" src="@img/logo1.svg" alt="Image"/>
						<img src="@img/logo2.svg" alt="Image">
					</div>
				</a>
				<div class="header__box">
					
					<div class="header__adress header__adress--icon-geo"><span>Москва, ул. Науки 25</span></div>
					<ul class="user-list">
						<li class="user-list__item">
							<a href="#" class="user-list__link user-list__link--icon-heart"></a>
							</a>
						</li>
						<li class="user-list__item">
							<a href="#" class="user-list__link user-list__link--icon-person"> </a>
						</li>
						<li class="user-list__item">
							<a href="#" class="user-list__link user-list__link--icon-cart"> </a>
						</li>
					</ul>
			</div>
		</div>
		<div class="header__bottom">
			<ul class="menu-categories">
				<li class="menu-categories__item"><a href="#" class="menu-categories__link">Квадроциклы</a></li>
				<li class="menu-categories__item"><a href="#" class="menu-categories__link">Катера</a></li>
				<li class="menu-categories__item"><a href="#" class="menu-categories__link">Гидроциклы</a></li>
				<li class="menu-categories__item"><a href="#" class="menu-categories__link">Лодки</a></li>
				<li class="menu-categories__item"><a href="#" class="menu-categories__link">Вездеходы</a></li>
				<li class="menu-categories__item"><a href="#" class="menu-categories__link">Снегоходы</a></li>
				<li class="menu-categories__item"><a href="#" class="menu-categories__link">Двигатели</a></li>
				<li class="menu-categories__item"><a href="#" class="menu-categories__link">Запчасти</a></li>
			</ul>
		</div>
	</div>
</header>
