<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss" />

<main class="page page--hero">
	<section class="hero">
		<div class="hero__container">
			<div class="hero__sliders">
				<div data-fls-slider class="hero__slider swiper">
					<div class="hero__wrapper swiper-wrapper">
						<div class="hero__slide swiper-slide">
							<img src="@img/hero/slider/slider.png" alt="Image" />
						</div>
						<div class="hero__slide swiper-slide">
							<img src="@img/hero/slider/slider.png" alt="Image" />
						</div>
						<div class="hero__slide swiper-slide">
							<img src="@img/hero/slider/slider.png" alt="Image" />
						</div>
						<div class="hero__slide swiper-slide">
							<img src="@img/hero/slider/slider.png" alt="Image" />
						</div>
						<div class="hero__slide swiper-slide">
							<img src="@img/hero/slider/slider.png" alt="Image" />
						</div>
						<div class="hero__slide swiper-slide">
							<img src="@img/hero/slider/slider.png" alt="Image" />
						</div>
					</div>
					<div class="swiper-pagination hero__pagination"></div>
					<button
						type="button"
						class="swiper-button-prev hero__button hero__button--prev hero__button--icon-prev"
					></button>
					<button
						type="button"
						class="swiper-button-next hero__button hero__button--next hero__button--icon-next"
					></button>
				</div>
			</div>
			<article class="hero__banner banner">
				<div class="banner__price">
					<h4 class="banner__title">190 000₽</h4>
					<p>225 000₽</p>
				</div>
				<div class="banner__content">
					<img src="@img/hero/motor.png" alt="Image" />
					<p>Лодочный мотор Suzuki DF9.9BRS</p>
				</div>
				<div class="banner__footer">
					<h4 class="banner__footer-title">Акция действует до</h4>
					<p>31.08.2020</p>
				</div>
				<div class="banner__sale">
					<h4>акция</h4>
				</div>
			</article>
		</div>
	</section>
	<section class="search">
		<div class="search__container">
			<div data-fls-tabs class="search-tabs">
				<nav data-fls-tabs-titles class="search-tabs__navigation">
					<button type="button" class="search-tabs__title">
						Поиск по номеру
					</button>
					<button type="button" class="search-tabs__title --tab-active">
						Поиск по марке
					</button>
					<button type="button" class="search-tabs__title">
						Поиск по названию товара
					</button>
				</nav>
				<div data-fls-tabs-body class="search-tabs__content">
					<div class="search-tabs__body">
						<div class="search-tabs__inner">
							<input
								data-fls-input
								autocomplete="off"
								type="text"
								name="form[]"
								data-error="Ошибка"
								placeholder="Введите номер"
								class="search-tabs__input"
							/>
							<a
								href="#"
								data-fls-button
								class="button button--blue search-tabs__button--desktop"
								>искать</a
							>
							<a
								href="#"
								data-fls-button
								class="button button--mobile button--icon-search search-tabs__button--mobile"
							></a>
						</div>
					</div>
					<div class="search-tabs__body">
						<div class="search-tabs__inner">
							<input
								data-fls-input
								autocomplete="off"
								type="text"
								name="form[]"
								data-error="Ошибка"
								placeholder="Введите марку"
								class="search-tabs__input"
							/>
							<a
								href="#"
								data-fls-button
								class="button button--blue search-tabs__button--desktop"
								>искать</a
							>
							<a
								href="#"
								data-fls-button
								class="button button--mobile button--icon-search search-tabs__button--mobile"
							></a>
						</div>
					</div>
					<div class="search-tabs__body">
						<div class="search-tabs__inner">
							<input
								data-fls-input
								autocomplete="off"
								type="text"
								name="form[]"
								data-error="Ошибка"
								placeholder="Введите название товара"
								class="search-tabs__input"
							/>
							<a
								href="#"
								data-fls-button
								class="button button--blue search-tabs__button--desktop"
								>искать</a
							>
							<a
								href="#"
								data-fls-button
								class="button button--mobile button--icon-search search-tabs__button--mobile"
							></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
