.page {
	&--hero {
		@include adaptiveValue('padding-top', 78, 25);
	}
}

.hero {
	@include adaptiveValue('margin-bottom', 77, 25);
	&__container {
		display: flex;
		gap: 36px;
		justify-content: space-between;
		@media (max-width: toEm($mobile)) {
			flex-direction: column;
		}
	}
	&__sliders {
		// max-width: 870px;
		// @media (max-width: toEm(890)) {
		// 	width: 100%;
		// }

		@include adaptiveValue('width', 870, 320);
		@media (max-width: toEm(1024)) {
			width: 100%;
		}
	}
	&__slider {
		position: relative;
	}
	&__slide {
		img {
			@media (max-width: toEm(1024)) {
				width: 100%;
			}
			object-fit: contain;
		}
	}

	&__button {
		position: absolute;
		top: 50%;
		translate: 0 -50%;
		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: #ffffff90;
				}
			}
		}
		&::before {
			font-size: 30px;
			color: #fff;
			transition: color 0.3s;
		}
		&--prev {
			left: 15px;
		}
		&--next {
			right: 15px;
		}
	}
	&__pagination {
		display: flex;
		gap: 9px;
		position: absolute;
		bottom: 5%;
		left: 50%;
		translate: -50% 0;
		cursor: pointer;
		span {
			display: block;
			border: 1px solid #fff;
			border-radius: 100%;
			width: 11px;
			aspect-ratio: 1;
		}
		span.swiper-pagination-bullet-active {
			background-color: #fff;
		}
	}
}

.banner {
	@include adaptiveValue('line-height', 24, 19, 0, 1200, 1024);
	@media (max-width: toEm(1024)) {
		display: none;
	}
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	width: 265px;
	display: flex;
	flex-direction: column;
	position: relative;
	&__title {
		color: $blueColor;
		font-weight: 700;
		@include adaptiveValue('font-size', 27, 16, 0, 1200, 1024);
		@include adaptiveValue('margin-bottom', 7, 0, 0, 1200, 1024);
	}
	&__price {
		align-self: flex-end;
		text-align: right;
		font-family: $fontBarlow;
		p {
			color: $greyColor;
			font-size: 14px;
			text-decoration: line-through;
		}
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		text-wrap: balance;
		flex: 1 0 auto;
		font-weight: 700;
		font-size: 18px;
	}
	&__footer {
		padding: 18px 25px;
		text-align: center;
		text-wrap: balance;
		font-size: 18px;
		background-color: $baseColor;
		&--title {
			@include adaptiveValue('font-size', 20, 14, 0, 1200, 1024);
		}
		p {
			font-family: $fontBarlow;
			font-weight: 700;
			font-size: 18px;
			color: $blueColor;
		}
	}
	&__sale {
		font-family: $fontPN;
		font-weight: 700;
		font-size: 12px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		background-color: $blueColor;
		padding: 8px 20px;
		color: #fff;
		position: absolute;
		left: 0;
		top: 0;
	}
}

// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
.search {
	margin-bottom: 80px;
	// .search__container

	&__container {
	}
}
.search-tabs {
	// .search-tabs__navigation

	&__navigation {
		@media (max-width: toEm($mobile)) {
			display: flex;
			text-wrap: nowrap;
			overflow-x: auto;
		}
	}

	// .search-tabs__title

	&__title {
		text-align: center;
		padding: 12px 26px;
		margin-bottom: 25px;
		@media (max-width: toEm($mobile)) {
			position: relative;
			&::before {
				content: '';
				transition: left 0.3s, width 0.3s;
				width: 0;
				position: absolute;
				bottom: 0px;
				left: 50%;
				background-color: $blueColor;
				height: 3px;
			}
		}
	}

	&__title.--tab-active {
		@media (min-width: toEm($mobile)) {
			font-weight: 700;
			background-color: $baseColor;
			border-radius: 5px;
		}
		@media (max-width: toEm($mobile)) {
			font-weight: 600;
			&::before {
				content: '';
				width: 100%;
				left: 0;
				color: #000;
			}
		}
	}

	// .search-tabs__content

	&__content {
	}

	// .search-tabs__body

	&__body {
	}

	&__inner {
		display: flex;
		@media (max-width: toEm($mobile)) {
			position: relative;
		}
	}

	&__input {
		color: #656464;
		font-size: 16px;
		border-radius: 3px;
		background-color: $baseColor;
		padding: 15px 0 15px 20px;
	}

	&__button--desktop {
		@media (max-width: toEm($mobile)) {
			display: none;
		}
	}
	&__button--mobile {
		display: none;
		@media (max-width: toEm($mobile)) {
			display: inline-flex;
			position: absolute;
			top: 50%;
			right: 2%;
			translate: -2% -50%;
		}
	}
}

// --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.category {
	margin-bottom: 80px;
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
		gap: 30px;
		@media (max-width: toEm($mobile)) {
			display: flex;
			flex-direction: column;
		}
	}
	// .category__kvadro

	&__card {
		justify-content: space-between;
		border: 1px solid #cdcdcd;
		border-radius: 3px;
		display: inline-flex;
		padding: 20px 27px 14px 20px;
		background-color: #fff;
		transition: box-shadow 0.3s, border 0.3s;
		@media (any-hover: hover) {
			&:hover {
				border: none;
				box-shadow: 3px 3px 20px 0 rgba(50, 50, 50, 0.25);
				.category__title {
					color: $blueColor;
				}
			}
		}
		&:last-child {
			@include adaptiveValue('padding-right', 77, 39);
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	// .category__title

	&__title {
		transition: color 0.3s;
		font-family: $fontBarlow;
		font-weight: 700;
		@include adaptiveValue('font-size', 23, 18);
	}

	// .category__more

	&__more {
		color: $greyColor;
		transition: color 0.3s;
		max-width: 78px;
		@include adaptiveValue('font-size', 14, 10);
		&::after {
			margin-left: 3px;
			position: relative;
			translate: 10% 10%;
			font-family: iconfont;
			content: '\f108';
		}
		@media (any-hover: hover) {
			&:hover {
				color: $baseColor;
			}
		}
	}

	// .category__img

	&__img {
	}
}
