.footer {
	margin-top: 40px;
	background-color: #f9f9fc;
	// .footer__container
	&__container {
		@media (max-width: toEm($mobile)) {
			min-width: 100%;
			padding: 0;
		}
	}

	&__top {
		min-height: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: toEm($mobile)) {
			flex-direction: column;
		}
	}
	&__bottom {
		display: flex;
		justify-content: center;
		column-gap: 80px;
		row-gap: 12px;
		font-size: 10px;
		color: #48494d;
		@media (max-width: toEm($mobile)) {
			line-height: normal;
			flex-direction: column;
			background-color: #fff;
			padding-bottom: 50px;
		}
	}
	&__email {
		line-height: 24px;
		@media (min-width: toEm($mobile)) {
			@include adaptiveValue('margin-right', 160, 35, 0, 1200, 1000);
		}
		@media (max-width: toEm($mobile)) {
			display: flex;
			align-items: center;
			flex-direction: column;
			margin-bottom: 40px;
		}
	}
	&__inner {
		display: flex;
	}

	&__text {
		text-align: center;
		font-weight: 700;
		font-size: 14px;
		max-width: 230px;
		margin-bottom: 34px;
		line-height: 18px;
		@media (max-width: toEm($mobile)) {
			margin-top: 30px;
		}
	}

	&__input {
		&.input {
			padding: 8px 0 8px 12px;
		}
		color: $greyColor;
		background-color: #fff;
		font-size: 14px;
		@media (min-width: toEm($mobile)) {
			min-width: 80%;
		}
	}

	.footer__button {
	}
	// .footer__info

	&__info {
		position: relative;
		@media (max-width: toEm($mobile)) {
			flex-direction: column;
			width: 100%;
		}
		&::before,
		&::after {
			content: '';
		}
		display: flex;
		font-size: 14px;
		@media (min-width: toEm($mobile)) {
			@include adaptiveValue('margin-right', 100, 25, 0, 1200, 1000);
		}

		@include adaptiveValue('column-gap', 100, 25, 0, 1200, 1000);
	}

	&__menu {
		&:last-child {
			@media (max-width: toEm($mobile)) {
				.footer__info-title {
					border-bottom: 2px solid $baseColor;
				}
				.--spoller-active .footer__info-title {
					border-bottom: none;
				}

				.--spoller-active + .footer__list {
					border-bottom: 2px solid $baseColor;
				}
			}
			@media (min-width: toEm($mobile)) {
				min-width: 40%;
			}
		}
	}
	// .footer__list

	&__list {
		@media (max-width: toEm($mobile)) {
			padding: 16px 0 16px 16px;
		}
	}

	// .footer__info-title

	&__info-title {
		font-weight: 700;
		text-align: center;
		@media (min-width: toEm($mobile)) {
			margin-bottom: 10px;
		}
		@media (max-width: toEm($mobile)) {
			color: #7f7f7f;
		}
		.--spoller-init & {
			display: flex;
			// margin-left: 20px;
			border: 2px solid $baseColor;
			padding: 16px;
			border-bottom: none;
			justify-content: space-between;
			&::after {
				display: flex;
				font-family: 'iconfont';
				content: '\f108';
				rotate: 90deg;
			}
		}
		.--spoller-active & {
			&::after {
				rotate: -90deg;
			}
		}
		@media (max-width: toEm($mobile)) {
			font-size: 18px;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	// .footer__link

	&__link {
		position: relative;
		transition: color 0.3s;
		color: #7f7f7f;
		@media (any-hover: hover) {
			&:hover {
				color: #000;
			}
		}
		@media (min-width: toEm($mobile)) {
			text-align: center;
			display: flex;
			justify-content: center;
		}
	}
}
.social {
	// .social__list
	@media (max-width: toEm($mobile)) {
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding-top: 40px;
		padding-bottom: 80px;
	}

	&__list {
		display: flex;
		@media (max-width: toEm($mobile)) {
			gap: 30px;
		}
		@media (min-width: toEm($mobile)) {
			@include adaptiveValue('column-gap', 30, 10, 0, $pc, $mobile);
		}
	}

	// .social__item

	&__item {
	}

	// .social__link

	&__link {
		transition: color 0.3s;
		// @media (any-hover: hover) {
		// 	&:hover {
		// 		color: $blueColor;
		// 	}
		// }
		&::before {
			font-size: 30px;
		}
		&--icon-s-inst {
			@media (any-hover: hover) {
				&:hover {
					color: #aa790e;
				}
			}
		}
		&--icon-s-vk {
			translate: 0 -17%;
			@media (any-hover: hover) {
				&:hover {
					color: $blueColor;
				}
			}
		}
		&--icon-s-fb {
			@media (any-hover: hover) {
				&:hover {
					color: $blueColor;
				}
			}
		}
		&--icon-s-yt {
			@media (any-hover: hover) {
				&:hover {
					color: #ff0000;
				}
			}
		}
	}
}
