<div data-fls-pricerange class="price-range">
	<div class="price-range__slider">
		<div class="price-range__progressbar">
			<div class="price-range__progress"></div>
		</div>

		<div class="price-range__input">
			<input
				type="range"
				class="price-range__min"
				min="0"
				max="2000000"
				value="100000"
				step="10000"
			/>
			<input
				type="range"
				class="price-range__max"
				min="0"
				max="2000000"
				value="500000"
				step="10000"
			/>
		</div>
	</div>

	<div class="price-range__value">
		<div>
			<span>от</span>
			<span class="price-range__value-min">100 000 ₽</span>
		</div>
		<div>
			<span>от</span>
			<span class="price-range__value-max">500 000 ₽</span>
		</div>
	</div>
</div>
